#-------------------------------------------------------------
# philippeLC92 Verion 1.0 Décembre 2019
#              Verion 1.1 Décembre 2022
#-------------------------------------------------------------
# Installation :
# cd ~
# git clone https://github.com/myjdom/Jeedom_Answerphone.git
# cd Jeedom_Answerphone
# Optional : Change port 8085 if you want in python code notification_server.py and notification_client.py
# sudo mkdir /root/daemon_server
# sudo cp -p notification_server.py notification_client.py /root/daemon_server
# sudo chmod +x /root/daemon_server/notification_server.py /root/daemon_server/notification_client.py
# sudo cp -p notification_server.service /etc/systemd/system/notification_server.service
# sudo cp -p /root/daemon_server/notification_client.py /var/www/html/plugins/script/core/ressources/notification_client.py
# sudo chown www-data:www-data  /var/www/html/plugins/script/core/ressources/notification_client.py
# sudo systemctl enable notification_server
# sudo systemctl start notification_server
# sudo systemctl status notification_server
#-----------------------------------------------------------------------------------------------------------------------
# Configurer Etape 1 PUSH et Etape 2 PULL dans Jeedom : voir README.md
#-----------------------------------------------------------------------------------------------------------------------

[Unit]
Description=notification server
After=network-online.target

[Service]
#Type=oneshot
Type=Simple
ExecStart=/usr/bin/python3 /root/daemon_server/notification_server.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=network-online.target
WantedBy=multi-user.target

